header.header
  .container.header__container
    a(href="index.html").logo
      img(src=require("@img/logo.png").default, alt="logotype").logo__img
      // .logo__img 
    // .logo 
  // .container.header__container 
// .header 